.pad-r {
  padding-right: 0.5rem!important;
}

.mar-l {
  margin-left: 0.5rem!important;
}

.actions-wrapper {
  top: 16px;
  right: 16px;
}

.hover:hover {
  background-color:rgba(0, 0, 0, 0.04) !important;
}
